name: Deploy Lambda

on:
  push:
    paths:
      - ./app.py

jobs:
  deploy:
    runs-on: code-scanning

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Install dependencies
      run: |
        sudo apt-get install -y zip unzip #this command will be changed based on the docker image used 

    - name: Package Lambda function
      run: |
        zip -r function.zip app.py

    - name: Update Lambda function
      run: |
        aws lambda update-function-code --function-name code-scanning --zip-file function.zip